@import url(./vendor/normalize.css);

.page{
    position: relative;
    font-family: 'Museo Sans Cyrl', Arial, sans-serif;
    color: #1A1A1A;
    background-color: #FFFFFF;
    margin: 0 auto;
    max-width: 1280px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
}

.banner{
    position: relative;
    background-color: #93BBEA;
    border-radius: 40px;
    height: 306px;
    margin: 40px;
    overflow: hidden;
    z-index: 0;
}

.banner__block {
    position:relative;
    z-index:2;
}

.banner__telegram{
    position: absolute;
    left: 0;
    top: 12.1%;
    width: 21.9%;
    z-index: 1;
}

.banner__arm{
    position: absolute;
    left: 76%;
    width: 24%;
    bottom: 0;
    z-index: 1;
}

.banner__title{
    margin: 0;
    padding-top: 40px;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 120%;
    text-align: center;
    color: #FFFFFF;
}

.banner__subtitle{
    margin: 4px auto 32px auto;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
    width: 532px;
}

.banner__lists{
    display: flex;
    flex-wrap: wrap;    
    list-style: none;
    padding: 0;
    justify-content: center;
}

.banner__list{
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 120%;
    color: #1A1A1A;
    width: 160px;
    height: 48px;
    background: #FFFFFF;
    border-radius: 12px;    
    text-align: center;
    line-height: 300%;
    margin: 8px 8px 0 0;
    border: none;
    cursor: pointer;
}

.banner__img{
    margin-right: 8px;
}

.banner__img-star{
    vertical-align: text-top;
    margin-right: 7px;
}

.network{
    width: 996px;
    height: 166px;
    margin: 82px auto 80px auto;
    background: #FFFFFF;
    box-shadow: 0px 20px 60px rgba(26, 26, 26, 0.05);
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.network__title{
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 120%;
    margin: 0;
}

.network__subtitle{
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 120%;
    margin: 16px 0 0 0;
}

.network__lists{
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0 0 0 46px;
    flex-wrap: wrap;
}

.network__icon{
    width: 56px;
    height: 56px;
    margin-left: 14px;
    cursor: pointer;
}

.questions{
    display: flex;
    flex-direction: column;
    overflow: hidden; 
    margin: 0 40px;
    position: relative;
}

.questions__title{
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 120%;
    margin: 0 auto 32px auto;
    text-align: center;
}

.questions__list{
    margin: 0;
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 24px;
    position: relative;
     width: calc(100%*2); 
}

.questions__card{
    width: 282px;
    height: 160px;
    background: #FFFFFF;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);
    border-radius: 16px;
    display: flex;
    text-decoration: none;
}

.questions__text{
    margin: 16px;
}

.questions__card-title{
    margin: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    color: #1A1A1A;
}

.questions__card-subtitle{
    margin: 8px 0 0 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #949494;
}

.questions__but{
    position: absolute;
    right: 0;
    top: 55%;
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
}

.reference{
    margin: 80px auto;
}

.reference__block{
    list-style: none;
    padding: 0;
}

.reference__list{
    width: 948px;
    display: flex;
    justify-content: space-between;
    padding: 20px 24px 20px 24px;
    background-color: #FFFFFF;
    margin: 0 auto 12px auto;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);
    border-radius: 16px;
}

.reference__text{
    display: flex;
    flex-direction: column;
    max-width: 465px;
}

.reference__card-subtitle{
    margin: 4px 0 0 0;
}

.reference__but{
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
}

.delivery{
    margin: 20px 40px auto 40px;
    max-width: 690px;
}

.delivery__header{
    display: flex;
    margin-bottom: 16px;
}

.delivery__title{
    margin: 0 15px 0 0;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 120%;
}

.delivery__share{
    padding-top: 5px;
}

.delivery__text{
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 140%;
}

.delivery__text-add{
    margin: 40px 0 16px 0;
}

.delivery__buttons{
    display: flex;
    flex-wrap: wrap;
}

.delivery__chat{
    width: 224px;
    height: 48px;
    background: #36BA5F;
    border-radius: 12px;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 120%;
    text-align: center;
    color: #FFFFFF;
}

.reference__img{
    vertical-align: text-top;
    margin-right: 5px;
}

.delivery__phone{
    width: 48px;
    height: 48px;
    margin: 0 8px;
}


@media screen and (max-width: 1076px) {
    .network{
        width: auto;
        margin: 82px 40px 40px 40px;
    }

    .questions__card {
        width: 299px;
    }
    .reference{
        margin: 80px 40px 40px 40px;
    }
    .reference__list{
        width: auto;
    }
}

@media screen  and (max-width: 980px){
    .banner__arm{
        display: none;
    }

    .network__lists {
        padding: 0;
    }

    .questions__card {
        width: calc(50vw - 52px);
    }
}

@media screen and (min-width: 601px) and (max-width: 770px){
    .banner{
        height: auto;
        margin: 15px;
    }

    .banner__telegram{
        display: none;
    }

    .banner__subtitle{
        width: auto;
    }

    .network{
        height: auto;
        margin: 15px;
        flex-direction: column;
    }

    .network__text{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .network__title{
        margin-top: 15px;    
    }

    .network__subtitle{
        font-size: 25px;
    }

    .questions__title{
        font-size: 30px;
        margin: 0 auto 15px auto;
    }

    .questions__card {
        width: calc(50vw - 52px);
    }
    .questions__but {
        top: 50%;
    }
    .reference{
        margin: 15px;
    }
}

@media screen and (min-width: 376px) and (max-width: 600px){
    .banner{
        height: auto;
        margin: 15px;
    }

    .banner__telegram{
        display: none;
    }

    .banner__title{
        font-size: 40px;
    }

    .banner__subtitle{
        width: auto;
    }

    .network{
        height: auto;
        margin: 15px;
    }

    .network__text{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .network__title{
        margin-top: 15px;    
    }

    .network__subtitle{
        font-size: 25px;
    }
    .questions{
        margin: 0 15px;
    }

    .questions__title{
        font-size: 30px;
        margin: 0 auto 15px auto;
    }

    .questions__card {
        width: calc(100vw - 30px);
    }
    .reference{
        margin: 15px;
    }
}

@media screen and (max-width: 375px) {
    .banner{
        height: auto;
        margin: 15px;
    }
    .banner__telegram{
        display: none;
    }
    .banner__title{
        font-size: 40px;
    }

    .banner__subtitle{
        width: auto;
    }

    .network{
        height: auto;
        margin: 15px;
    }

    .network__text{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .network__title{
        margin-top: 15px;    
    }

    .network__subtitle{
        font-size: 25px;
    }
    .questions{
        margin: 0 15px;
    }

    .questions__title{
        font-size: 30px;
        margin: 0 auto 15px auto;
    }

    .questions__card {
        width: calc(100vw - 30px);
    }
    .questions__but {
        top: 55%;
    }
    .reference{
        margin: 15px;
    }
}